{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de búsqueda</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="navitem">
            <input class="btn-input" type="button" value="Adopta a tu compañero ideal">
        </div>
        <div class="navitem">
            <h1 class="title">AdoptaMascotasAQP</h1>
        </div>
        <div class="navitem">
            <input class="btn-input" type="button" value="Registra una Mascota">
        </div>
    </div>
    <div id="resultados">
        <div id="resultados-lista">
            {% for result in results %}
                <div class="resultado-item">
                    <h3>{{ result.nombre }}</h3>
                    <img src="{{ result.imagen }}" alt="{{ result.nombre }} image">
                    <p><strong>Tamaño:</strong> {{ result.tamaño }}</p>
                    <p><strong>Tipo de pelo:</strong> {{ result.tipo_de_pelo }}</p>
                    <p><strong>Temperamento:</strong> {{ result.temperamento }}</p>
                    <p><strong>Mantenimiento:</strong> {{ result.mantenimiento }}</p>
                    <p><strong>Nivel de actividad:</strong> {{ result.nivel_de_actividad }}</p>
                    <p><strong>Cuidados necesarios:</strong> {{ result.cuidados }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
